*{
	padding: 0;
	margin: 0;
}
#container{
	width: 500px;
	height: 200px;
}
#container{
	position: relative;
}
#container img{
	position: absolute;
	z-index: 0;
}
#container span{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 90px;
}
#container  .fa-angle-right{
	top: 95px;
	right: 0;
	z-index: 1;
}
#container .active{
	z-index: 2;

}